<h2 mat-dialog-title class="header-section">
   Add New Gallery Item
  </h2>
  
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" required>
        <mat-error *ngIf="form.get('title')?.hasError('required')">
          Title is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" required>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('category')?.hasError('required')">
          Category is required
        </mat-error>
      </mat-form-field>
  
      <!-- Remove mat-form-field here for file input -->
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="file" id="image" (change)="onFileSelected($event)" required   accept="image/*">
        <mat-error *ngIf="form.get('imageUrl')?.hasError('required')">
          Image URL is required
        </mat-error>
      </div>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions align="end" class="form-bottom">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
      Add
    </button>
  </mat-dialog-actions>
  
