.header-section {
  background-color: #1a5276;
  color: white;
  margin-bottom: 1rem;
}
.full-width {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
}

mat-dialog-content {
  padding: 16px 0;
}

mat-dialog-actions {
  padding: 16px;
}
